body {
background-color:#d8d5d5;
margin:0px;
font-family:Arial;
font-size:12px;
}

.thumb {
border:solid 1px;
border-color:#000000;
padding:0px;
}

.title {
color:#FFFFFF;
background-color:#000000;
text-align:center;
padding:10px;
font-size:18px;
font-family:Arial;
font-weight:bold;
}

td {
font-family:Arial;
font-size:12px;
}

.main_table {
text-align:center;
background-color:#facdff;
border:solid 1px;
border-color:#000000;
padding:0px;
}

.description {
width:100%;
height:210px;
background-image: url(description.jpg);
color:#4a4a4a;
padding:10px;
font-size:14px;
font-family:Arial;
}



#join_link_big a {
color:#ca0fd8;
font-size:24px;
font-family:Arial;
font-weight:bold;
}

#join_link_big a:hover {
color:#000000;
}

#join_link_big2 a {
color:#ca0fd8;
font-size:32px;
font-family:Arial;
font-weight:bold;
}

#join_link_big2 a:hover {
color:#000000;
}

#headerspacer {
background-image: url(greybar.gif);
height:7px;
line-height:7px;
}



#header {
padding:8px;
background-color:#252525;
}


#header a {
font-family:Arial;
color:#FFFFFF;
padding-left:12px;
padding-right:12px;
}


.tel {
font-family:Arial;
color:#FFFFFF;
}


.logo {
text-align:center;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
color:#000000;
}


