/* Join Page */

.fineprint{font-weight:normal;font-size:9px; padding-left: 20px; }

#wrap { width: 980px; color: #000; }
#left { width: 980px; float:left; display:inline; }
#left #head { padding: 11px 0; background: #1b1b1b; margin: 0 0 3px 0;  }
#left .save75 #head { background: url(http://img1.mxn.com/images/join-head.gif) no-repeat 300px 12px #1b1b1b; }
#left #head h1 { background: url(http://img1.mxn.com/images/join/logo.gif) no-repeat; width: 288px; height: 117px; text-indent: -9999px; margin: 0 0 0 15px; }
#left #head #secure { background: url(http://img1.mxn.com/images/join/secure.gif) no-repeat; width: 386px; height: 63px; float:right; margin: 21px 27px 0 0; display: inline; }
#left h2 { background: url(images/join_bar.jpg) no-repeat 0 0; height: 30px; color: #fff; font-weight: bold; font-size: 16px; padding: 9px 0 0 30px; margin-bottom: 10px; }
#left .right h2 { border-right: 1px solid #000000; }
#left h2 span { color: #cc0000; }
#form { /*height: 650px;*/ -moz-box-shadow: 0 0 5px #000; -webkit-box-shadow: 0 0 4px #ccc; margin: 0 0 3px 0; min-height: 350px; }
#form .left { width: 320px; float:left; display:inline; }
#form .left2 { width: 320px; float:left; display:inline; position: relative; }
#form .right { width: 340px; float:left; display:inline; position: relative; }
#form .right img.save75gif { position: absolute; top: 48px; right: 32px; }
#form input.txt { border: 0px; background: url(images/join_label.png) no-repeat 0 0; width: 242px; padding: 10px; -moz-border-radius: 6px;  -webkit-border-radius: 6px; border-radius: 6px; font-weight: bold; font-size:12px; color: #000000; }
#form p { padding: 20px 30px 0 30px; }
#form label { display: block; font-weight: bold; font-size: 14px; padding: 0 0 1px 0; color:#bc0000; }
#form .rdo { padding: 20px 30px;  }
#form .rdo label { background: url(images/join_label.png) no-repeat 0 0; padding: 10px; margin-bottom: 3px;  -moz-border-radius: 6px;  -webkit-border-radius: 6px; border-radius: 6px; cursor:pointer; font-weight: normal; color: #000000; }
#form .rdo label:hover { background: url(images/join_label_hover.png) no-repeat 0 0; }
#form .rdo label.active { background: url(images/join_label_select.png) no-repeat 0 0; padding: 8px; color: #ffffff; font-weight: bold; text-shadow: 1px 1px 1px #000; }
#form .rdo label input { float:left; display:inline; margin: 1px 8px 0 0; }
#form .right .rdo label input { margin-top: 4px; }

#form .eu_billing { margin: 0 0 20px 30px; }

.ie_all #form .rdo label input { float:left; display:inline; margin: 0 8px 0 0; }

#form .right .rdo label { font-size: 16px; }
#form .right .rdo label span.price { float:right; }
#form .right .rdo label span.price span { font-size: 11px; padding-left: 2px; }
#form .right .rdo label span.value { background: url(http://img1.mxn.com/images/join/special.gif) no-repeat 0 0; padding: 4px 25px 3px 24px; font-size: 10px; float:right; }
#form .right button { background: url(images/join_button.png) no-repeat; width: 296px; height: 44px; border: none; margin: auto;color: #fff; font-weight: bold; font-size: 22px; text-transform: uppercase; text-shadow: 2px 2px 1px #620200; font-family: Arial, Helvetica, sans-serif; text-align: center; cursor: pointer; }
#form .phone button { text-align:center; padding-right: 35px; padding-left: 0; }
#form .phone p { text-align: center; font-size: 13px; padding: 60px 80px 30px 80px; }
#form .phone p strong { display: block; font-size: 15px; }
.ie_all #form .right button { height: 55px; }
#form .right div.btn { width: 300px; margin: auto; padding-bottom: 20px; margin: 10px auto 10px auto; }
#form .right p {  }

#foot { background: url(http://img1.mxn.com/images/join/foot_bg.gif) repeat-y right #1b1b1b; clear:left; }

#satisfaction { padding: 0 0 0;  width: 728px; float:left; display:inline; }
#satisfaction img.secure { float:left; display: inline; margin: 5px 0 5px 10px; }
#satisfaction p { font-size: 13px; color: #999; text-align: center; line-height:22px; padding: 16px 0; }

#right { float:left; display:inline; width: 249px; margin-left: 3px; padding: 25px 0 0 0; }
#right .onePass { background: url(http://img1.mxn.com/images/join/right_01.gif) no-repeat; width: 224px; height: 111px; margin: 0 0 0 auto; color: #e2bd05; font-size: 24px; font-weight: bold; text-transform: uppercase; text-align: center; }
#right .onePass p { line-height: 24px; padding: 8px 0 0 0; }
#right .onePass span { color: #fff; display: block; font-size: 15px; line-height: 15px; }
#right ul.stats li { color: #fff; font-weight: bold; text-align: center; border-bottom: 1px solid #191919; border-top: 1px solid #3f3f40; font-size: 24px; padding: 13px 0; margin: 0 0 0 20px; }
#right ul.stats li span { font-size: 13px; font-weight: normal; color: #999; display: block; }


#wrap #surfSafe {  width: 249px; padding: 13px 0; float:left; display:inline;  }
#wrap #surfSafe p { font-size: 10px; color: #ccc; background: url(http://img1.mxn.com/images/join/right_02.gif) no-repeat; padding: 0 0 0 40px; text-align: center; width: 145px; margin: 0 auto; color: #999; }
#wrap #surfSafe p span { display: block; padding: 28px 0 0 0; }
