/* BODY - TOP LEVEL ELEMENTS */

body {
margin-top:0px;
font-family:Arial;
padding:0;
margin:0px 0px 0px 0px;
background-color:#FFFFFF;
}

div, form {
margin:0px;
padding: 0px;
}

img {
border:0;
display:block;
}

input {
margin:2px;
}

a {
font-family:Arial;
fint-size:14px;
color:#FFFFFF;
white-space: nowrap;
}

a:hover {
text-decoration:underline;
color:#C0C0C0;
white-space: nowrap;
}

a:hover img {
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
}

.element_wrapper
{
  width:100%;
  text-align:center;
}

.element_wrapper:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.gallery_element
{
  width:185px;
  display:inline-block;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
}

.dvd_image_element
{
  width:240px;
  display:inline-block;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
}

@media all and (max-width: 650px)
{
    .element
    {
      width:320px;
      min-height:200px;
      display:inline-block;
      margin-bottom:5px;
    }
}

@media all and (min-width: 650px)
{
    .element
    {
      vertical-align: top;
      width:320px;
      min-height:200px;
      display:inline-block;
      margin-left:5px;
      margin-right:5px;
      margin-bottom:10px;
    }
}


/* TWITTER */

.twitter_wrapper {
padding:4px;
}

.column_background_twitter {
text-align:left;
background-color:#c9c9c9;
padding:4px;
}

#twitter_account {
font-weight:normal;
font-family:Arial;
font-size:12px;
}

#twitter_account a {
color:#0056CC;
}

#tweets {
padding:4px;
margin-top:10px;
margin-bottom:10px;
background-color:#e4e4e4;
line-height:18px;
font-weight:normal;
font-family:Arial;
font-size:12px;
color:#323232;
}

#tweets a {
color:#0056CC;
}




/* FACEBOOK */

.facebook_wrapper {
padding:4px;
}

.column_background_facebook {
text-align:left;
background-color:#c9c9c9;
padding:4px;
}

#facebook_account {
font-weight:normal;
font-family:Arial;
font-size:12px;
}

#facebook_account a {
color:#0056CC;
}

#facebook {
padding:4px;
margin-top:10px;
margin-bottom:10px;
background-color:#e4e4e4;
line-height:18px;
font-weight:normal;
font-family:Arial;
font-size:12px;
color:#323232;
}

#facebook a {
color:#0056CC;
}





/* CATEGORY PAGE */

#a_z_links {
margin:4px;
padding:6px;
border:solid 1px;
border-color: #9d9d9d;
background-color:#000000;
}

#a_z_links a {
padding:6px;
color:#FFFFFF;
font-size: 14px;
font-weight:bold;
}

#a_z_links a:hover {
text-decoration:underline;
color:#C0C0C0;
}






/* HEADER & FOOTER */

.header {
min-width:320px;
width:100%;
color:#FFFFFF;
font-weight:bold;
font-size:12px;
background-color:#000000;
}

.header_image {
width:320px;
height:50px;
margin-left:auto;
margin-right:auto;
}

#nav {
    padding:6px;
    line-height:2.5;
    color:#FFFFFF;
}

#nav a
{
    text-decoration: underline;
    color:#FFFFFF;
}

.nav_tab {
    padding:6px;
    white-space: nowrap;
    margin:2px;
    border:solid 1px;
    border-color: #9d9d9d;
    background-color:#6e6e6e;
    font-size: 12px;
    font-weight:bold;
}


#nav a:hover span {
    color:#C0C0C0;
}

#nav a.hilite:hover {
    color:#C0C0C0;
}

#nav a.hilite
{
    text-decoration: underline;
    color:#000000;
}

#nav a.hilite span 
{
    color:#000000;
}

#nav a.hilite:hover
{
    color:#000000;
}



#footer {
font-size:12px;
color:#FFFFFF;
}

#footer a {
color:#FFFFFF;
}

#footer a:hover {
color:#808080;
}






/* GLOBAL STYLES - SITE-WIDE STYLES */

.wrapper {
min-width:320px;
width:98%;
text-align:center;
margin-left:auto;
margin-right:auto;
background-color:#333333;
}

.page_nav {
color:#000000;
background-color:#e2e2e2;
}

.content_wrapper {
width:99%;
margin-left:auto;
margin-right:auto;
margin-top:3px;
padding:0px;
background-color:#C0C0C0;
}

#title {
margin-top:3px;
text-align:left;
padding:6px;
font-size: 14px;
font-weight:bold;
color:#FFFFFF;
background-color:#000000;
}

#title a {
text-align:left;
font-size: 14px;
font-weight:bold;
color:#FFFFFF;
}

#title a:hover {
text-decoration:underline;
color:#C0C0C0;
}

#title_center {
margin-top:3px;
text-align:center;
padding:6px;
font-size: 14px;
font-weight:bold;
color:#FFFFFF;
background-color:#000000;
}

#title_center a {
text-align:center;
font-size: 14px;
font-weight:bold;
color:#FFFFFF;
}

#title_center a:hover {
text-decoration:underline;
color:#C0C0C0;
}


@media all and (min-width: 694px)
{
    .info {
    margin-top:3px;
    text-align:left;
    padding:6px;
    font-size: 12px;
    color:#FFFFFF;
    background-color:#000000;
    vertical-align: top;
    }
}

@media all and (max-width: 694px)
{
    .info {
    margin-top:3px;
    text-align:left;
    padding:6px;
    font-size: 12px;
    color:#FFFFFF;
    background-color:#000000;
    vertical-align: top;
    }
}

.model_info
{
    margin-top:3px;
    text-align:left;
    padding:6px;
    font-size: 12px;
    color:#FFFFFF;
    background-color:#000000;
    vertical-align: top;
}


.thumbs {
text-align:center;
margin-left:auto;
margin-right:auto;
border-style:solid;
border-width:1px;
border-color:#000000;
}

.sort_link {
margin:5px;
font-size:16px;
font-weight:normal;
}

.sort_link_current {
margin:5px;
font-size:16px;
font-weight:normal;
color:#C0C0C0
}

#section_title {
margin:4px;
padding:4px;
text-align:center;
font-size: 14px;
font-weight:bold;
color:#000000;
background-color:#FFFFFF;
}

#section_title_left {
margin:4px;
padding:4px;
text-align:left;
font-size: 14px;
font-weight:bold;
color:#000000;
background-color:#FFFFFF;
}


#content_links {
margin-top:3px;
text-align:center;
padding:6px;
font-size: 14px;
font-weight:bold;
color:#FFFFFF;
background-color:#000000;
}

#content_links a {
font-size: 14px;
font-weight:bold;
color:#FFFFFF;
}

#content_links a:hover {
text-decoration:underline;
color:#C0C0C0;
}

.nav_links {
font-size:16px;
font-weight:normal;
}






/* SEARCH */
#search td {
font-size:14px;
}

.search
{
    display:none;
}

#searchform
{
    margin-top: 15px;
    margin-bottom: 15px;
}


@media all and (max-width: 640px)
{
    .advsearchurl
    {
        display:block;
        margin-top:10px;
    }
}



/* SETS */

.bio {
text-align:left;
font-size: 14px;
color:#000000;
padding:6px;
}






/* GALLERY */

.description {
text-align:left;
line-height:18px;
font-size: 14px;
color:#000000;
padding:6px;
}

.thumbs_gallery {
text-align:center;
margin-left:auto;
margin-right:auto;
border-style:solid;
border-width:1px;
border-color:#C0C0C0;
}

#clips_wrapper {
width:310px;
margin-left:auto;
margin-right:auto;
margin-top:3px;
padding:2px;
font-size:14px;
color:#FFFFFF;
line-height:22px;
background-color:#000000;
}



/* BONUS */
#bonus_info  {
margin-top:3px;
text-align:center;
font-size: 14px;
color:#FFFFFF;
}

#bonus_info a  {
margin-top:3px;
text-align:center;
font-size: 14px;
color:#000000;
}

#bonus_info a:hover {
text-decoration:underline;
color:#C0C0C0;
}


#story {
text-align:left;
font-size: 14px;
padding:6px;
line-height:22px;
}


/* NEWS */


#news {
text-align:left;
font-size: 14px;
padding:6px;
line-height:22px;
}

#news a {
text-align:left;
font-size: 14px;
font-weight:bold;
color:#000000;
}






/* DVDs */

#dvd {
text-align:center;
font-size: 14px;
padding:6px;
line-height:22px;
}

#dvd a {
text-align:center;
font-size: 14px;
font-weight:bold;
color:#000000;
}

.dvd_wrapper:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


@media all and (min-width: 500px)
{
    .dvd_thumb
    {
        float:left;
        width:200px;
    }

    .dvd_info
    {
        overflow:hidden;
        margin-top:3px;
        text-align:left;
        padding:6px;
        font-size: 12px;
        color:#FFFFFF;
        background-color:#000000;
        vertical-align: top;
        height:310px;
    }
}

@media all and (max-width: 500px)
{

    .dvd_thumb
    {
        width:100%;
        margin-left:auto;
        margin-right:auto;
    }

    .dvd_info
    {
        width:97%;
        margin-top:3px;
        text-align:left;
        padding:6px;
        font-size: 12px;
        color:#FFFFFF;
        background-color:#000000;
        vertical-align: top;
    }
}




/* ALIGNMENT AND DISPLAY */

.absmiddle {
vertical-align:middle; display:inline;
}

.aligncenter {
text-align:center;margin-left:auto;margin-right:auto;
}

.alignleft {
text-align:left;
}

.alignright {
text-align:right;
}

.margintop3px {
margin-top:3px;
}

.margintop5px {
margin-top:5px;
}

.margin0 {
margin:0;
}

.stdtablepad {
padding:2px;
margin:2px;
border:0px;
text-align:center;
margin-left:auto;
margin-right:auto;
}

.stdtablepad tr td {
padding:2px;
margin:2px;
}

.stdtablenopad {
padding:0;
margin:0;
border: 0px;
}

.stdtablenopad tr td {
padding:0;
margin:0;
}

.tablespacing1 {
padding:0;
margin:1px;
border:0px;
}

.tablespacing1 tr td {
padding:0;
margin:1px;
}

.positionrelative {
position:relative;
}


/* POLL */

.poll { width:316px; }

@media all and (min-width: 694px)
{
  .poll { width:650px; }
}

@media all and (min-width: 1035px)
{
  .poll { width:988px; }
}

@media all and (min-width: 1035px)
{
  .poll { width:986px; }
}

@media all and (min-width: 1376px)
{
  .poll { width:1322px; }
}

@media all and (min-width: 1716px)
{
  .poll { width:1656px; }
}

@media all and (min-width: 2058px)
{
  .poll { width:99%; }
}


.poll_title {
font-weight:bold;
font-size:12px;
color:#3B3B3B;
}

.poll_votes {
font-weight:normal;
font-size:11px;
color:#000000;
}

.poll_answer {
font-weight:normal;
font-size:12px;
line-height:18px;
color:#000000;
overflow:none;
}

.poll_radio
{
min-height:30px;
float:left;
width:25px;
}

.bar {
font-weight:normal;
margin:0 0 1em 0;
border:1px #DDDDDD solid;
font-size:10px;
}

.pollresults
{
width:98%;
}

.pollanswers_wrapper
{
text-align:left;
width:90%;
padding-left:10px;
}

.pollanswers
{
    min-height:30px;
}

.barAnswer {
font-size:12px;
text-align:left;
margin:.5em 0 0 0;
}

.barColor {
background:#AAAAAA;
border:1px #DDDDDD solid;
border-bottom:1px #555555 solid;
border-right: 1px #555555 solid;
}

.barPercent {
padding:0.3em;
font-size:12px;
background:#EEEEEE;
color:#555555;
}

.barVotes {
padding:0.3em;
font-size:12px;
background:#EEEEEE;
color:#555555;
white-space:nowrap;
}

.totalVotes {
float:right;
}


