@charset "UTF-8";



$maxsmall: 480px;
$maxmedium: 768px;
$maxlarge: 1280px;

$butt: 5px;





@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

@mixin border-radius($num) {
  -webkit-border-radius: $num;
     -moz-border-radius: $num;
     border-radius: $num;
}

@mixin box-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false) {
 $params: $shadow1;
  @if $shadow2 
    { $params: $shadow1, $shadow2; }
    @if $shadow3 != false
      { $params: $shadow1, $shadow2, $shadow3; }
      @if $shadow4 != false
        { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
        @if $shadow5 != false
          { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }

  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin text-shadow($txtsd1, $txtsd2:false, $txtsd3:false, $txtsd4:false, $txtsd5:false) {
 $params: $txtsd1;
  @if $txtsd2 
    { $params: $txtsd1, $txtsd2; }
    @if $txtsd3 != false
      { $params: $txtsd1, $txtsd2, $txtsd3; }
      @if $txtsd4 != false
        { $params: $txtsd1, $txtsd2, $txtsd3, $txtsd4; }
        @if $txtsd5 != false
          { $params: $txtsd1, $txtsd2, $txtsd3, $txtsd4, $txtsd5; }

  -webkit-text-shadow: $params;
  -moz-text-shadow: $params;
  text-shadow: $params;
}





@mixin stext-shadow($color) {
     text-shadow: 1px 1px 0 $color, 2px 2px 0 $color, 3px 3px 0 $color, 4px 4px 0 $color, 5px 5px 0 $color, 6px 6px 0 $color, 7px 7px 0 $color, 8px 8px 0 $color, 9px 9px 0 $color, 10px 10px 0 $color, 11px 11px 0 $color, 12px 12px 0 $color, 13px 13px 0 $color, 14px 14px 0 $color, 15px 15px 0 $color, 16px 16px 0 $color, 17px 17px 0 $color, 18px 18px 0 $color, 19px 19px 0 $color, 20px 20px 0 $color, 21px 21px 0 $color, 22px 22px 0 $color, 23px 23px 0 $color, 24px 24px 0 $color, 25px 25px 0 $color, 26px 26px 0 $color, 27px 27px 0 $color, 28px 28px 0 $color, 29px 29px 0 $color, 30px 30px 0 $color, 31px 31px 0 $color, 32px 32px 0 $color, 33px 33px 0 $color, 34px 34px 0 $color, 35px 35px 0 $color, 36px 36px 0 $color, 37px 37px 0 $color, 38px 38px 0 $color, 39px 39px 0 $color, 40px 40px 0 $color, 41px 41px 0 $color, 42px 42px 0 $color, 43px 43px 0 $color, 44px 44px 0 $color, 45px 45px 0 $color, 46px 46px 0 $color, 47px 47px 0 $color, 48px 48px 0 $color, 49px 49px 0 $color, 50px 50px 0 $color;
}


@mixin trans($numb){-webkit-transition:all $numb ease-in-out;
     -moz-transition:all $numb ease-in-out;
       -o-transition:all $numb ease-in-out;
          transition:all $numb ease-in-out;}


@-webkit-keyframes animatedBackground {
  0% {background-position: 0 0; }
  100% {background-position: 100% 0; } }
@-moz-keyframes animatedBackground {
  0% {background-position: 0 0; }
  100% {background-position: 100% 0; } }
@-o-keyframes animatedBackground {
  0% {background-position: 0 0; }
  100% {background-position: 100% 0; } }
@keyframes animatedBackground {
  0% {background-position: 0 0; }
  100% {background-position: 100% 0; } }

@-webkit-keyframes fadee {
  0% {opacity: 0; }
  100% {opacity: 1; } }
@-moz-keyframes fadee {
  0% {opacity: 0; }
  100% {opacity: 1; } }
@-o-keyframes fadee {
  0% {opacity: 0; }
  100% {opacity: 1; } }
@keyframes fadee {
  0% {opacity: 0; }
  100% {opacity: 1; } }
  
@-webkit-keyframes loadd {
  0% {opacity: 0; }
  100% {opacity: 1; } }
@-moz-keyframes loadd {
  0% {opacity: 0; }
  100% {opacity: 1; } }
@-o-keyframes loadd {
  0% {opacity: 0; }
  100% {opacity: 1; } }
@keyframes loadd {
  0% {opacity: 0; }
  100% {opacity: 1; } }



.ani, .anis * {
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out; }

  /*
----------------------------------------------------------------------------------
Default css 
----------------------------------------------------------------------------------
*/

/* Reset all of the document's element styles to zero... */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}



  